In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
ui_movie = pd.read_csv("ui_movies_dummy.csv")
ui_movie

,imdb_title_id,title,year,date_published,genre,language,country,director,writer,actors,...,Adventure,Family,War,Biography,Musical,Sport,Animation,History,News,Reality-TV
0,tt1014463,Kate & Leopold(English),2001,2002-03-01,"Comedy, Fantasy, Romance",English,USA,James Mangold,"Steven Rogers, James Mangold","Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",...,0,0,0,0,0,0,0,0,0,0
1,tt1896309,Kate & Leopold(French),2001,2002-03-01,"Comedy, Fantasy, Romance",French,USA,James Mangold,"Steven Rogers, James Mangold","Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",...,0,0,0,0,0,0,0,0,0,0
2,tt0081145,Harry e Carota,1993,1993-10-22,"Comedy, Crime, Drama",English,USA,Dan Curtis,"Stanley Cohen, Richard Tannenbaum","Danny Aiello, Alex Zuckerman, Joe Pantoliano, ...",...,0,0,0,0,0,0,0,0,0,0
3,tt0088751,The Naked Monster,2005,2005-04-22,"Comedy, Horror, Sci-Fi",English,USA,"Wayne Berwick, Ted Newsom",Ted Newsom,"Kenneth Tobey, Brinke Stevens, R.G. Wilson, Jo...",...,0,0,0,0,0,0,0,0,0,0
4,tt0094900,Committed,1991,1991-04-18,"Drama, Thriller",English,USA,William A. Levey,"Susan Claudia, Simon Last","Jennifer O'Neill, Robert Forster, William Wind...",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23180,tt9900782,Kaithi,2019,2019-10-25,"Action, Thriller",Tamil,India,Lokesh Kanagaraj,"Lokesh Kanagaraj, Pon Parthiban","Karthi, Narain, Ramana, George Maryan, Harish ...",...,0,0,0,0,0,0,0,0,0,0
23181,tt9903716,Jessie,2019,2019-03-15,"Horror, Thriller",Telugu,India,Aswani Kumar V.,Aswani Kumar V.,"Ashima Narwal, Sritha Chandana, Atul Kulkarni,...",...,0,0,0,0,0,0,0,0,0,0
23182,tt9905412,Ottam,2019,2019-03-08,Drama,Malayalam,India,Zam,Rajesh k Narayan,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...",...,0,0,0,0,0,0,0,0,0,0
23183,tt9905462,Pengalila,2019,2019-03-08,Drama,Malayalam,India,T.V. Chandran,T.V. Chandran,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",...,0,0,0,0,0,0,0,0,0,0
23184,tt9906644,Manoharam,2019,2019-09-27,"Comedy, Drama",Malayalam,India,Anvar Sadik,NaN,"Vineeth Sreenivasan, Aparna Das, Basil Joseph,...",...,0,0,0,0,0,0,0,0,0,0

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
description = tfidf.fit_transform(ui_movie["description"])

In [4]:
pickle.dump(tfidf, open("vectorizer.pickle", "wb"))

##### Recommendation functions file: [Recommendaion functions file](recommend_ui_functions.py)
##### Recommendation execution file: [Recommendation execution ipynb file](recommend_ui_movies.ipynb) & [Recommendation execution html file](recommend_ui_movies.html)